html,
body {
  height: 100%;
  background-color: #262728;
  color: #fff;
  font-family: PT Sans;
}
hr {
  border-color: #a4a6a8;
}
a,
a:visited {
  color: #fff !important;
}
a:hover,
a:active {
  color: #fff !important;
}
.container-fluid {
  padding: 0 7rem;
}
#header {
  padding: 4rem 0;
}

/* Section Home */
section.home .card {
  background-color: unset;
  border-color: #a4a6a8;
  min-height: 345px;
  margin-bottom: 3rem;
  cursor: pointer;
}
section.home .card:hover {
  border-color: #fff;
  border-width: 2px;
}
section.home .card .card-body {
  padding: 3rem;
}
.card .card-tag {
  font-size: 16px;
  margin-bottom: 1rem;
}
.card .card-title {
  font-size: 26px;
  margin-bottom: 0px;
}
.card .card-text {
  font-size: 14px;
  color: #a4a6a8;
  margin-bottom: 1rem;
}
.card .card-date {
  font-size: 12px;
  font-weight: lighter;
}

/* Section Post & Comments */
section.post,
section.comments {
  padding: 1rem 12rem;
}
section.post .card,
section.comments .card {
  background-color: unset;
  border-color: transparent;
}

.comments-container {
  padding: 2rem 0;
}

.avatar {
  height: 50px;
  width: 50px;
  border: 1px solid #a4a6a8;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1rem;
}
