/* Global styles */
html,
body {
  height: 100%;
  background-color: #262728;
  color: #fff;
  font-family: PT Sans;
}
hr {
  border-color: #a4a6a8;
}
a,
a:visited {
  color: #fff !important;
}
a:hover,
a:active {
  color: #fff !important;
}
a.btn-light {
  color: #262728 !important;
}
.btn.btn-dark {
  background-color: unset;
  border-style: none;
}
.btn.btn-dark:hover {
  text-decoration: underline;
}
.container-fluid {
  padding: 0 6rem;
}
#header {
  padding: 4rem 0;
}

/* Section Alerts */
#alerts {
  z-index: 999;
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 20%;
}

/* Section Home */
.home .card {
  background-color: unset;
  border-color: #323435;
  height: 345px;
  margin-bottom: 3rem;
}
.home .card:hover {
  border-color: #fff;
}
.home .card:hover .icon-close {
  background: #fff;
  color: #262728;
}
.card .icon-close {
  background: #262728;
  padding: 5px 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 17px;
  position: absolute;
  top: -0.9rem;
  right: -0.9rem;
  line-height: normal;
  font-style: normal;
  cursor: pointer;
}
.home .card .card-body {
  padding: 2.5rem;
}
.card .card-tag {
  font-size: 16px;
  margin-bottom: 1rem;
}
.card .card-title {
  font-size: 26px;
  margin-bottom: 0px;
}
.card .card-text {
  font-size: 14px;
  color: #a4a6a8;
  margin-bottom: 1rem;
}
.card .card-date {
  font-size: 12px;
  font-weight: lighter;
}

/* Section Post & Comments */
.post,
.comments {
  padding: 0rem 12rem;
}
button.btn-save {
  margin: 2rem 0 1rem;
}
.comments {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.post .card,
.comments .card {
  background-color: unset;
  border-color: transparent;
}
.post .card.editing,
.comments .card-body.editing {
  border: 1px solid #323435;
}
.avatar {
  height: 50px;
  width: 50px;
  border: 1px solid #a4a6a8;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1rem;
}
.avatar .icon-close {
  background: #262728;
  padding: 0px 7px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 17px;
  position: absolute;
  top: 1.8rem;
  right: 2.5rem;
  line-height: normal;
  font-style: normal;
  cursor: pointer;
}
button.btn-add-comment {
  margin: 2rem 0;
}

/* Section New Post */
h5:empty:not(:focus)::before,
p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}
.post.new-post h5 {
  padding-bottom: 2rem;
}

/* Section Add Comment */
section.add-comment {
  padding: 3rem 0;
}
